body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('https://storage.googleapis.com/nftimagebucket/tokens/0x02c4394307de62241aa8d5a0915494a96b288261/preview/TVRjeE1EUTRORE14TkE9PV82.gif');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
